@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

:root[data-theme='dark'] {
  --toastify-color-dark: #1d293d;
  --toastify-text-color-dark: #fff;
}

:root[data-theme='light'] {
  --toastify-color-dark: #fff;
  --toastify-text-color-dark: #1d293d;
}
