@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}
