@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

:root[data-theme='dark'] {
  --toastify-color-dark: #1d293d;
  --toastify-text-color-dark: #fff;
  --track-scroll: #1d293d;
  --thumb-scroll: #314158;
  --thumb-hover: #31415894;
}

:root[data-theme='light'] {
  --toastify-color-dark: #fff;
  --toastify-text-color-dark: #1d293d;
  --track-scroll: #fff;
  --thumb-scroll: #dff2fe;
  --thumb-hover: #cde7f8;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--track-scroll);
}

::-webkit-scrollbar-thumb {
  background: var(--thumb-scroll);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--thumb-hover);
}
